<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ark</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            height: 100%;
            display: flex;
            align-items: center;
        }
    </style>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <h1>Charged</h1>
</body>

</html>