<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ark</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            height: 100%;
        }
    </style>
</head>

<body>
    <form action="/v1/api/payments/charge" method="POST" id="payment-form">
        <div class="form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        <button>Submit Payment</button>
    </form>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('pk_test_fjBMo532nl7XdkiHGFuwUeKn00WnsjjIJF');
        const elements = stripe.elements();
        const style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: '#32325d',
            },
        };
        // Create an instance of the card Element.
        const card = elements.create('card', { hidePostalCode: true, style });
        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');
        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async event => {
            event.preventDefault();

            const { token, error } = await stripe.createToken(card);

            if (error) {
                // Inform the customer that there was an error.
                const errorElement = document.getElementById('card-errors');
                errorElement.textContent = error.message;
            } else {
                // Send the token to your server.
                // Insert the token ID into the form so it gets submitted to the server
                // Insert the token ID into the form so it gets submitted to the server
                console.log(token)
            }
        });

    </script>
</body>

</html>